body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#spider-man{
    font-family: 'Libre Baskerville', serif;
    border-left: 5px solid rgb(70, 142, 175);
    font-size: 50px;
    padding-left: 10px;
}
.t-color{
    color: red;
}
.t-align{
    text-align: justify;
}
.button{
    background-color: rgb(233, 150, 102);
    width: 170px;
    padding: 10px;
    font-weight: 900;
    border-radius: 7px;
}
.flex{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 50px;
}
.img-size{
    width: 120%;
}
.margin{
    margin-left: 100px;
    margin-right: 100px;
}
.head2{
    text-align: center;
    font-size: 50px;
}
.box{
    width: 24%;
    border-radius: 20px;
}
.box1{
    background-color: palegoldenrod;
    margin-left: 10%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
}
.box2{
    background-color: mediumspringgreen;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
}
.box3{
    background-color: #e4ddf4;
    margin-left: 2%;
    margin-right: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
.peter{
    width: 80%;
    padding-top: 10%;
    padding-left: 20px;
}
.actor-pic{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.head3{
    font-size: 40px;
}
.b-text{
    text-align: center;
}
.background-image{
    background-image: url(back-img.png);
    background-repeat: no-repeat;
}
.box-shadow{
    box-shadow: 10px 10px 40px 20px gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.half-width2{
    width: 50%;
    padding: 20px;
}
.button-background{
    text-decoration: none;
    background-color: black;
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 15px;
    width: 200px;
}
.underline{
    text-decoration: none;
    height: 50px;
}
#twit-logo{
    height: 40px;
    width: 40px;
}
#tom{
    font-size: 25px;
}
#tom-pic{
    height: 104%;
}
.foot{
    font-family: 'Libre Baskerville', serif;
}
.foot-bg{
    background-color: black;
    height: 120px;
    color: white;
    padding: 10px;
}